[submodule "assets/MaaCommonAssets"]
	path = assets/MaaCommonAssets
	url = https://github.com/MaaXYZ/MaaCommonAssets
[submodule "agent/cpp-algo/MaaUtils"]
	path = agent/cpp-algo/MaaUtils
	url = https://github.com/MaaXYZ/MaaUtils.git
